*{
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: rgb(144, 129, 157);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

header nav {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header nav h1{
    margin-left: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

#topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#Filtroh1{
    display: none;
}

#topo div {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#Container{
    width: 90%;
    height: 60vh;
    background-color: #d5d5d5fd;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 5px 5px;
}

#tabela{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#hud{
    width: 100%;
    height: 2rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

#hud ul{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    color: white;
}

#idHud{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 3rem;
}

#nomeHud{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15rem;
}

#Conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Conteudo ul{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.idParticipante{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 3rem;
}

.nomeParticipante{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 15rem;
}

.emailParticipante{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 35rem;
}

.BtnsParticipante{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 25%;
}

#BtnSorteio{
    margin-left: 95%;
}

#confirm-excluir{
    display: none;
}

/*fomulario de filtragem*/

#Filtro{
    width: 88%;
    height: 30vh;
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #d5d5d5fd;
    border-radius: 5px;
}

#Filtro fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

#Filtro div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#nome{
    border: none;
    border-radius: 2px;
    height: 1.5rem;
    width: 15rem;
}

#email{
    border: none;
    border-radius: 2px;
    height: 1.5rem;
    width: 20rem;
}

#BTNSfiltro{
    position: relative;
}

#BtnFiltrar{
    width: 6rem;
    height: 2rem;
}

#BtnLimpar{
    width: 6rem;
    height: 2rem;
}